@import url("resource:///org/gnome/gnome-flashback/theme/common.css");

gf-popup-window {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 10px;
}

gf-popup-window.solid {
  border: 1px solid #8d8d8d;
  border-radius: 0px;
}

#gf-candidate-popup {
  border-radius: 3px;
}

#gf-candidate-popup.solid {
  border-radius: 0px;
}

#gf-candidate-popup gf-candidate-box label {
  padding: 4px 6px;
}

#gf-candidate-popup gf-candidate-box label:last-child {
  padding-left: 0px;
}

#gf-candidate-popup gf-candidate-box:selected,
#gf-candidate-popup gf-candidate-box:hover {
  background-color: #000000;
  color: #ffffff;
  border-radius: 3px;
}

#gf-input-source-popup {
}

#gf-input-source-popup #gf-input-source {
  min-width: 120px;
  min-height: 120px;
  font-size: 22px;
}

#gf-input-source-popup #gf-input-source:selected {
  background-color: #000000;
  color: #ffffff;
  border-radius: 6px;
}

#gf-label-window {
  font-size: 40px;
}

#gf-osd-window {
}

#gf-osd-window levelbar block.overdrive {
  background-color: #ef2929;
  border-color: #ef2929;
}

#gf-bubble {
}

gf-icon {
  margin: 2px;
}

gf-icon label {
  border-radius: 3px;
  color: #ffffff;
  padding: 2px;
}

gf-icon:hover image {
  -gtk-icon-effect: highlight;
}

gf-icon:selected label {
  background: #000000;
  color: #ffffff;
}
