GfPopupWindow
{
  background-color: #ffffff;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 10px;
}

GfPopupWindow.solid {
    border: 1px solid #8d8d8d;
    border-radius: 0px;
}

GfCandidatePopup {
    border-radius: 3px;
}

GfCandidatePopup.solid {
    border-radius: 0;
}

GfCandidatePopup GfCandidateBox GtkLabel {
    padding: 4px 6px;
}

GfCandidatePopup GfCandidateBox:last-child {
    padding-left: 0;
}

GfCandidatePopup GfCandidateBox:selected,
GfCandidatePopup GfCandidateBox:hover {
    background-color: #4a90d9;
    color: #ffffff;
    border-radius: 3px;
}

GfInputSourcePopup #input-source
{
  font-size: 22px;
}

GfInputSourcePopup #input-source:selected
{
  background-color: #000000;
  color: #ffffff;
  border-radius: 6px;
}

FlashbackLabelWindow
{
  font-size: 40px;
}
