@import url("resource:///org/gnome/gnome-flashback/theme/common.css");

gf-popup-window {
  background-color: #393f3f;
  color: #eeeeec;
  border: 1px solid rgba(28, 31, 31, 0.9);
}

gf-popup-window.solid {
  border: 1px solid #1f2222;
}

#gf-candidate-popup gf-candidate-box:selected,
#gf-candidate-popup gf-candidate-box:hover {
  background-color: #215d9c;
  color: #ffffff;
}

#gf-input-source-popup #gf-input-source:selected {
  background-color: #215d9c;
  color: #ffffff;
}

#gf-osd-window levelbar block.overdrive {
  background-color: #e01b24;
  border-color: #e01b24;
}

gf-icon label {
  color: #ffffff;
}

gf-icon:selected label {
  background: #215d9c;
  color: #ffffff;
}
